.eventi-preview {
    width:300px;
    // background-color: $clr3;
    color:$clr1;  
    display:inline-block; 
    margin-right:5px; 

    button{
        padding:10px; 
    }
    button:hover{
        background-color:$clr3;
        color:$clr6; 
    }

    img{
        border-radius:5%;
        height:250px; 
        object-fit: cover;
    }
    a{
        color:$clr7; 
    }



}
