.details-photo-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1.5fr 1fr;
    margin: 10px;

    .photo-inline-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-gap: 8px;
        grid-template-columns: 1fr 1fr 1fr;

        .inner-photo-1 {
            grid-area: 1 / 1 / span 2 / span 2;
            img {
                object-fit: cover;
                vertical-align: bottom;
            }
        }
        .inner-photo-2 {
            grid-area: 1 / 3 / auto / auto;
            img {
                object-fit: cover;
                vertical-align: bottom;
            }
        }
        .inner-photo-3 {
            grid-area: 2 / 3 / auto / auto;
            img {
                position: relative;
                object-fit: cover;
                vertical-align: bottom;
            }
        }
    }
    .photo-item-1 {
        display: grid;
        grid-area: 1 / 1 / auto / auto;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
    }
    .photo-item-2 {
        display: grid;
        grid-area: 1 / 2 / auto / auto;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .photo-item-3 {
        display: grid;
        grid-area: 1 / 3 / auto / auto;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
    }
}

.eventi-details {
    flex-direction: column;
    margin-top: 70px;

    .sub-text {
        .location {
            margin-left: 5px;
        }
        .eventi-location {
            margin-left: 5px;
        }
    }
    .zoom {
        color: gray;
        opacity: 0.6;
    }

    .details-container {
        justify-content: space-between;
        max-width: 1280px;
        text-align: left;
        margin: 10px;
        border-top: 1px solid #DDDDDD !important;
    }

    .details-btn {
        margin-top: 10px;
        flex-direction: column;
        button {
            background-color: $clr4;
            margin: 3px;
            padding: rem(16px);
            text-transform: uppercase;
            border-radius: 10px;
            width: 130px;

            &.join {
                background-color: $clr1;
                color: $clr3;
                &:hover {
                    background-color: $clr3;
                    color: $clr1;
                }
            }
        }
    }
    .eventi-title {
        flex-direction: column;

        color: $clr3;
        h2 {
            font-family: PermanentMarker;
            font-size: rem(36px);
        }
        p {
            text-align: left;
            width: 40ch;
            font-size: rem(16px);
        }
    }

    .participant-container {
        flex-direction: column;
        background-color: $clr2;
        z-index:0; 
     
        .participant-title {
            font-family: montserrat;
            margin-top: 10px;
            font-size: rem(24px);
            color: $clr3;
        }
        .participant-list {
            margin: 0;
            padding: 10px 10px;
            color: $clr3;
            flex-direction: column;
            align-content: flex-start;
            li {
                flex-direction: row;
                margin-top: 10px;
                .participant-name {
                    margin-left: 5px;
                
                }
            }
        }
    }

    .comment-container {
        background-color: rgb(242, 250, 167);
        .list-item {
            padding: 10px 10px;
        }
        .comment-section {
            padding: 5px 5px;
        }
    }
}

.chat-box {
    margin-bottom: 20px;

    .chat-btn {
        background-color: $clr3 !important;
    }
}

.close {
    cursor: pointer;
    margin: 12px 5px 10px 5px;
    width: 10rem;
    box-shadow: 0.5px 0.5px 1.5px $clr3;
    text-align: center;
    border-radius: 3.25rem;
    font-size: 1rem;
    color: $clr3;
}

.host-title {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    span {
        font-family: montserrat;
    }
}
.chat {
    z-index: 999;
    display: fixed;
    .chat-btn {
        padding: 9px 8px;
        font-size: 31px;
        color: $clr1;
        cursor: pointer;
    }
}


.duration {
    margin-left: 5px;
}




.star {
    cursor: pointer;
    font-size: rem(16px);
    color:#ffd038;
}
.gray-star {
    color: #cccccb;
    font-size: rem(16px);
}