
.eventi-details{
    color:$clr7; 
    .eventi-subtitle{
        *{
            line-height: 1.7;
            margin:0; 
        }
    }
    .eventi-title{
        justify-content: space-between;
    }
    img{
        width:200px;
        height:200px;  
        margin:5px; 
        object-fit: cover;
    }
    *{
        margin-right:5px; 
    }
    a{
        background-color:$clr3;
        color:$clr7; 
    }
}
.participant-container{
    background-color: aquamarine;
    .list-item{
        padding: 10px 10px; 
    }
}

.comment-container{
    background-color: rgb(242, 250, 167);
    .list-item{
        padding: 10px 10px; 
    }
    .comment-section{
        padding: 5px 5px; 
    }
}
