.preview-grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/-1;
}

.eventi-preview {
    // background-color: $clr3;
    color: $clr1;
    display: inline-block;
    margin-right: 5px;

    .preview-title {
        font-weight: bolder;
    }
    button {
        padding: 10px;
        background-color: $clr3;
        border-top-left-radius: 12%;
        transition: all .2s;
    }
    button:hover {
        background-color: $clr1;
        color: $clr6;
    }
.img-area{
    img {
        border-radius: 5%;
        height: 250px;
        object-fit: cover;

    }
    button{
        position:absolute; 

    }
}

    a {
        color: $clr7;
    }
    .preview-time {
        color: $clr7;
    }
    .event-creator-section {
        border-top: 1px solid #bebebe;
        margin-bottom: 10px;
        .creator {
            margin-left: 10px;
        }
        .avatar {
            width: rem(25px);
            height: rem(25px);
            border-radius: 50%;
        }
    }
    
    button:hover span {
        display: none;
    }
    button:hover:before {
        content: "You are!";
    }
}
