.eventi-details {
    flex-direction: column;
    margin-top:70px; 
    .sub-text {
        .location {
            margin-left: 5px;
        }
        .eventi-location {
            margin-left: 5px;
        }
    }

    .details-container {
        padding-left: 60px;
        padding-right: 60px;
        max-width: 1280px;
        text-align: left;
    }

    .details-btn {
        margin-top: 10px;
        flex-direction: column;
        button {
            background-color: white;
            margin: 3px;

            &:hover {
                background-color: $clr1 !important;
            }
        }
    }
    .eventi-title {
        flex-direction: column;
        margin-top: 10px;
        color: $clr3;
        h2 {
            font-family: PermanentMarker;
            font-size: rem(36px);
        }
        p {
            text-align: left;
            width: 40ch;
            font-size: rem(16px);
        }
    }

    .details-img {
        width: 200px;
        height: 200px;
        margin-right: 10px;
        background-size: cover;
        background-position: center;
    }

    .participant-container {
        flex-direction: column;
        background-color: $clr2;
        margin: 10px;
        .participant-title {
            font-family: montserrat;
            margin-top:10px;
            font-size: rem(24px);
            color: $clr3;
        }
        .participant-list {
            margin:0; 
            padding: 10px 10px;
            color: $clr3;
            flex-direction: column;
            align-content: flex-start;
            li {
                flex-direction: row;
                margin-top: 10px;
                .participant-name {
                    margin-left: 5px;
                }
            }
        }
    }

    .comment-container {
        background-color: rgb(242, 250, 167);
        .list-item {
            padding: 10px 10px;
        }
        .comment-section {
            padding: 5px 5px;
        }
    }
}

.chat-box {
    margin-bottom: 20px;

    .chat-btn {
        background-color: $clr3 !important;
    }
}

.close {
    margin: 5px;
    font-size: 22px;
    color: $clr3;
    cursor: pointer;
}

.icon {
    width: 21px;
}
.host-title {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    span {
        font-family: montserrat;
    }
}
.chat {
    display:fixed; 
}
.duration{
    margin-left:5px; 
}
.chat-btn {
    padding: 9px 8px;
    font-size: 31px;
    color: $clr1;
    cursor: pointer;
}

.star {
    cursor: pointer;
    font-size: rem(16px);
}
.gray-star {
    color: #cccccb;
    font-size: rem(16px);
}

.star-yellow {
    color: #fff12a;
}