.main-nav {
    height: 50px;
    line-height: 1rem;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    color: $clr2;
    padding: 0;

    &.dark {
        background-color: $clr2;
        color: $clr3;
        .logo a {
            color: $clr3;
            background-color: $clr2;
            &:hover {
                color: $clr1;
            }
        }
        .nav-icon {
            color: $clr3;
            &:hover {
                color: $clr1;
            }
        }
    }
    .logo a {
        color: $clr2;
        font-family: PermanentMarker;
        font-size: rem(28px);
        margin-left: rem(20px);
        &:hover {
            color: $clr4;
        }
    }

    &.scrolled {
        background-color: $clr2;
        color: $clr3;
        .logo a {
            color: $clr3;
        }
        .nav-icon {
            color: $clr3;
        }
    }
    .nav-icon {
        width: 35px;
        cursor:pointer; 

    }
    .user-icon {
        margin-right: 21px;
        position: relative;
        color: $clr2;
        
       
    }
    .activities-icon {
        margin-right: 5px;
        margin-left: 20px;
  
    }

    .global-search {
        color: $clr5;
        display:flex; 
        align-self: center;
    }
}

.user-menu {
    position: absolute;
    right: 25px;
    top: 50px;
    padding: 10px;
    background-color: $clr4;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    border: 3px solid #e9e9e9;
    li {
        cursor: pointer;
        list-style-type: none;
        padding: 5px;

    }
}
.navbar-input {
    border: 1px solid lightgray;
    height: 2rem;
    border-radius: 1rem;
    background-color: #cccccc05;
    color: $clr5;
    line-height: 1.8rem;
    font-size: 1rem;
    padding: 0px 3rem;
    outline: none;
    font-family: montserrat;
}
.nav-wrapper{
    background-color: #cccccc04;
}
