.nav-container {
    height: 50px;
    grid-column: 1/ span all;
    background-color: #3d2f2f;
    padding: 5px;

   

    .nav-option {
        margin-left: 12px;

        a {
            cursor: pointer;
            color:$clr6;  
            transition: font-size .3s;
        }

        a:hover {
            font-size: 1.2rem;
        }
    }
}

.global-search {
    color: $clr6;
    position: relative;
}
.global-search input {
    width: 120%;
    height: 2rem;
    border-radius: 1rem;
    background-color: #cccccc05;
    color: #fff;
    line-height: 1.8rem;
    font-size: 1rem;
    border: none;
    padding: 0px 3rem;
    outline: none;
    margin-left: 50px;
}

.MuiSvgIcon-root {
    position: absolute;
    right: -103px;
    top: 5px;
}

.search-icon {
    width:20px;
}