.side-nav {
    margin-top:60px; 
    display: block;
    background-color: $clr6;
    align-content: space-between;
    height: 100%;
    width: 80%;
    z-index:1;
    border-right: 1px solid lightgray; 
    transform: translateX(-200%);
    transition: transform 2s ;

    &.trans {
        transform: translateX(0)
    }

    .tag-list{
        &*{
            background-color: blueviolet;
        }
    }
    .tag-list {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    }
    
    .tag-item {
        margin: 10px 5px 10px 5px;
         width: 5.5rem;
         box-shadow: 0.5px 0.5px 1.5px #272354;
          text-align: center;
          border-radius: 3.25rem;
          font-size: 1rem;
          color: #272343;

    }
    
    .tag-item:hover {
        cursor: pointer;
    background-color: #272354;
    color: white;
    
    }
}

.all-tag{
    display: flex;
    width: 100%;
    justify-content: center;
}