.main-content {
    position: relative;
    height:100vh; 
    // height: 500px;
    flex-direction: column;
    overflow: hidden;
    margin-bottom:20px; 
    

    .header {
        position: absolute;
        top: 50%;
        left: 50%;
        
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: $clr4;
        font-size: rem(27px);
        z-index: 12;
        
    }
    .all-events {
        border-radius: rem(50px);
        width: 250px;
        border: rem(4px) solid $clr4;
        margin: auto;
        text-align: left;
        cursor:pointer ;
        &:hover {
            color: $clr3;
            border: rem(4px) solid $clr3;
        }
        .tag-all{
            text-align:center; 
        }
    }
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 20px; 
}

.event-card {
    @include aspect-ratio(1, 1);
    font-size: rem(50px);
    font-family: PermanentMarker;
    text-align: center;
    border: 1px solid #00000021;
    border-radius: 10%;
    font-size: rem(36px);
    color: $clr4;
    // background-color: $clr1;
  
    cursor: pointer;

    img {
        // filter: grayscale(0.75);
        mix-blend-mode: multiply;

    }
    a {
        text-decoration: none;
    }
}




// .tag
// cursor: pointer;
// color: $clr4;

// position: relative;
// display: flex;
// justify-content: center;
// align-items: center;
// height: 100%;
// width: 100%;
// border-radius: 21px;
// opacity: 0.8;
// transition: transform 1s;

// &:hover {
//     opacity: 1;
//     transform: scale(1.015);
//     &::after {
//         bottom: 1px;
//         opacity: 1;
//     }
// }
// &::after {
//     transition: bottom 1s;
//     position: absolute;
//     content: "See more";
//     opacity: 0;
//     bottom: -5px;
//     left: 10px;
// }
