.main-content {
    position: relative;
    flex-direction: column;
    overflow: hidden;
    .hero-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: $clr4;
        font-size: rem(27px);
        z-index: 12;
        p{
            text-align:center; 
        }
    }
    .all-events {
        background-color: #3135366e;
        border-radius: 3.125rem;
        width: 250px;
        box-shadow: 0.5px 0.5px 3px 0px white;
        margin: auto;
        text-align: center;
        cursor: pointer;
    
        &:hover {
            color: $clr1;
            box-shadow: 1px 1px 5px 0px $clr1;
           
        }
        .tag-all{
            text-align:center; 
        }
    }
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 10px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.event-card {
    width:100%;
    height: 100%;
    box-shadow: 0.3px 0.2px 2px #272343;
    border-radius: 16px;
    background-size: cover;
    cursor: pointer;
    transition: all 0.7s;

    &.span {
        grid-column: span 2;
    }

    &:hover {
        filter: drop-shadow(8px 8px 10px gray);
        box-shadow: 0.3px 0.2px 2px #272343;
            transform: scale(1.01);
            &::after {
                bottom: 1px;
                opacity: 1;
            }
        }

&::after {
    color:$clr3;
    transition: bottom 2s;
    position: absolute;
    content: "See more";
    opacity: 0;
    bottom: -5px;
    left: 10px;
}
}


.tag {
    font-family: PermanentMarker;
    text-align: center;
    color: $clr3;
}


