.events-grid {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(12, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-rows: repeat(3,170px);
    // grid-auto-rows: 100px;
    grid-gap: 10px;
}

.tag {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    border-radius: 21px;
    background-color: rgb(20, 229, 236);

    a {
        text-decoration: none;
    }
   
    
}
.tag::after {
    transition: bottom 1s;
    position: absolute;
    content: "See more";
    opacity: 0;
    bottom: -5px;
    left: 10px;

}


.tag:hover::after {
    bottom: 1px;
    opacity: 1;
    
}


.tag-1,
.tag-4 {
    grid-column: span 2;
}

