.main-content {
    position: relative;
    width: 100%;
    height: 500px; 
    flex-direction: column;
    overflow: hidden;


    &.main-img {
        object-fit: cover;
        width: 98vw;
    }
    .header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: $clr6;
        font-size: rem(27px);
        cursor: pointer;
    }
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;

    .all-events{
        background-color: $clr3;
    }
}

.event-card {
    @include aspect-ratio(1, 1);
    font-size: rem(50px);
    color: $clr6;
    background-color: $clr1;
    cursor: pointer;

    &:hover {
        background-color: $clr4;
        color: $clr5;
        h3 {
            color: $clr5;
        }
    }

    img {
        mix-blend-mode: multiply;
    }
    a {
        text-decoration: none;
    }
}

//     &.tag-1 {
//         grid-column: span 2;
//         background-image: url("../../img/game1.jpg");
//         background-size: cover;
//     }

//     &.tag-2 {
//         background-image: url("../../img/game2.jpg");
//         background-size: cover;
//     }
//     &.tag-3 {
//         background-image: url("../../img/game3.jpg");
//         background-size: cover;
//     }
//     &.tag-4 {
//         grid-column: span 2;
//         background-image: url("../../img/game4.jpg");
//         background-size: cover;
//     }
// }

// @include for-normal-layout {
//     .events-grid {
//         grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
//     }
// }

// @include for-narrow-layout {
//     .events-grid {
//         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//     }
// }

// @include for-ex_narrow-layout {
//     .tag-2,
//     .tag-3 {
//         grid-column: span 2;
//     }
// }

// .tag
// cursor: pointer;
// color: $clr4;

// position: relative;
// display: flex;
// justify-content: center;
// align-items: center;
// height: 100%;
// width: 100%;
// border-radius: 21px;
// opacity: 0.8;
// transition: transform 1s;

// &:hover {
//     opacity: 1;
//     transform: scale(1.015);
//     &::after {
//         bottom: 1px;
//         opacity: 1;
//     }
// }
// &::after {
//     transition: bottom 1s;
//     position: absolute;
//     content: "See more";
//     opacity: 0;
//     bottom: -5px;
//     left: 10px;
// }
