.log-sign-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: linear-gradient(to bottom,#{$clr2},#{$clr1});

    &::before {
        content:"";
        width:250px;
        height: 100px;
        background-size: cover;

    }

    form {
        margin: 0 5px 5px 5px;
        border-radius: 21px;
        padding:rem(10px);
        width: 300px;
        text-align: center;

        @for $i from 1 through 2 {
            &:nth-child(#{$i}) {
                background-color: adjust-hue($clr3, $i*5deg );
            }
        }
    }

}

.logout { //important bacause of UI
    background-color: $clr4 !important;
    color:white !important;
}
