/* Breakpoint mixins */

@mixin  for-ex_narrow-layout {
    @media (max-width: $ex_mobile-breakpoint ) {
        @content;
    }
}
@mixin for-mobile-layout {
    @media (max-width: $mobile-breakpoint ) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (max-width: $mobile-breakpoint ) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (max-width: $narrow-breakpoint) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (max-width: $normal-breakpoint ) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
      display: block;
      content: "";
      width: 20%;
    //   padding-top: ($height / $width) * 100%;
    }
  }
  
  // Mixin for removing hover efects on iphone screen
  @mixin hover-supported {    
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
  }