@font-face {
    font-family: caveat;
    src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: BebasNeue;
    src: url(../../fonts/BebasNeue/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: PermanentMarker;
    src: url(../../fonts/PermanentMarker/PermanentMarker-Regular.ttf);
}
@font-face {
    font-family: FiraSans-regular;
    src: url(../../fonts/FiraSans/FiraSansCondensed-Regular.ttf);
}
@font-face {
    font-family: FiraSans-medium;
    src: url(../../fonts/FiraSans/FiraSansCondensed-SemiBold.ttf);
}
@font-face {
    font-family: FiraSans-bold;
    src: url(../../fonts/FiraSans/FiraSansCondensed-Bold.ttf);
}

@font-face {
    font-family: FiraSans-light;
    src: url(../../fonts/FiraSans/FiraSansCondensed-Light.ttf);

}