// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$ex_mobile-breakpoint: 570px;
$mobile-breakpoint: 630px;
$narrow-breakpoint: 770px;
$normal-breakpoint: 960px;