// Colors
$clr1: #88E4E4;
$clr2: #E3F6F5;
$clr3: #232a43;
$clr4: #FFFFFF;
$clr5: #2F2F2F;


// Breakpoints
$ex_mobile-breakpoint: 570px;
$mobile-breakpoint: 630px;
$narrow-breakpoint: 770px;
$normal-breakpoint: 960px;