// Colors
$clr1: #A64AC9;
$clr2: #FCCD04;
$clr3: #17E9E0;
$clr4: #FFB48F;
$clr5: #F5E6CC;
$clr6: #fff;
$clr7: #2f2f2f;

// Breakpoints
$ex_mobile-breakpoint: 570px;
$mobile-breakpoint: 630px;
$narrow-breakpoint: 770px;
$normal-breakpoint: 960px;